html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  background: #222;
  color: #d7d7d7;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
}
canvas {
  border: 0;
  max-width: 100%;
}
canvas:hover {
  cursor: move;
}
header {
  position: relative;
}
footer {
  background: #191919;
  padding: 2rem 0;
}
a {
  color: inherit;
}
p, li {
  line-height: 1.5rem;
}
h1 {
  /** color: #fafafa; */
  color: #ffe100;
  position: absolute;
  margin-left: 2rem;
}
h3 {
  font-size: 1.5rem;
  color: yellow;
}
.container {
  width: 640px;
  padding: 0 20px;
  margin: 0 auto;
}
input[type="text"] {
  font-size: 1rem;
  width: 5rem;
}
.equation {
  font-family: "Times New Roman", serif;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  background: #111;
  padding: 1rem 2rem 1.2rem;
  border-radius: 4px;
}
.equation .series-num {
  width: 2rem;
  display: inline-block;
  position: relative;
}
.equation .series-eq {
  width: 3rem;
  display: inline-block;
}
.equation .series-num-wide {
  width: 4rem;
}
.equation .series-super {
  position: relative;
}
.equation .series-plus {
  padding: 0 1rem;
}
.equation sub {
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  font-size: 1rem;
}
.equation super {
  position: absolute;
  top: 0.2rem;
  left: 1.1rem;
  font-size: 1rem;
}
.image-container {
  position: relative;
  display: inline-block;
}
.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.image-container canvas {
  float: left;
}
figure {
  padding: 0;
  margin: 0;
}
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
}
figcaption, pre {
  font-family: "Fira Mono", monospace;
}
figcaption {
  text-align: right;
  opacity: 0.5;
  margin-bottom: 1.5rem;
}
pre {
  background: #121212;
  color: #e0e0e0;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
}
section {
  margin: 3rem 0;
}
footer {
  padding: 2rem 0;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
  canvas {
    width: 100%;
  }
  pre {
    width: 100%;
    overflow-x: auto;
  }
}
